.wrapper {
  margin: 0 auto;
  border: 1px solid lightgray;
  width: 30vw;
  height: 80vh;
  padding-top: 1em;
  background-color:#dde2c6;
  border-radius: 5px;
}

.screen {
  /*border: 1px solid blanchedalmond;*/
  height:13vh;
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
 background-color: rgba(240, 255, 255, 0.904);

 border-radius: 5px;

}

.topScreen{
   /*border: 1px solid red; */
   text-align: end;
   height: 4vh;
   font-size: 3vh;
padding-top: 1vh;
padding-right: 5px;
  
}
.bottomScreen{
  
    text-align: end;
    /*border: 1px solid purple; */ 
    font-size: 5vh;
    padding-right: 5px;
}

.buttonWrapper {
  
  /*border: 1px solid lime;*/
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
 gap: 5px;
  margin:0 auto;
height: 50vh;


}

.funcButtons{


   /* border: 1px solid lime;*/
    width: 90%;
    display: grid;
    height: 8vh;
    grid-template-columns: 1fr 1fr ;
    gap: 5px;
    margin:0 auto;
    margin-bottom: 5px;
    font-size: 5em;

}

.numberButton{

font-size: 2em;
background-color:white;
border: 1px solid lightgrey;
border-radius: 6px;


}

.funcButton{
    border: 1px solid lightgrey;
    border-radius: 6px;
    background-color: #090c02;
    font-size: 2em;
color: white;

}

.topButton{

    font-size: 25px;
    background-color:#a72608;
border: none;
border-radius: 6px;
color:white;

}

@media (max-width:1267px) {
    
    .wrapper{

        width:75vw;
        
        
        }
        


    }






@media (max-width:500px) {

.wrapper{

width:95vw


}


.bottomScreen{


font-size: 4vh;

}
.topButton{

font-size: 15px;
}

.numberButton{
    font-size: 1.5em;
}

.funcButton{

    font-size: 1.5em;

}

}
